
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family:'kanit', sans-serif;
}

.wrapper {
    min-height: calc(100vh - 320px);
}


/*----------- NAVBAR 1 ------------------*/
.nav-font{
    font-size: 22px;
    color: #fd0400;
    font-weight: 500;
}
.nav-font2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding-top: 1px;
}
.nav-font3{
    font-size: 14px;
    color: #333333;
}
.nav-bg{
    background-color: #f8e800;
}
.nav-bg2{
    background-color: #ecd600;
    padding: 5px;
}
.nav-bg3{
    background-color: #35379d;
}
.nav-p-t{
    padding-top: 70px;
}
.nav-icon{
    width: 25px;
    height: 25px;
    padding: 6px;
    background-color: #35379d;
    color: white;
    border-radius: 100px;
    margin-right: 5px;
    font-size: 14px;
}
.nav-search-form {
    border-radius: 0px;
    background: #fff url(../../assets/images/logo/search.png) no-repeat right 15px center;
    background-size: 20px;
    -webkit-appearance: none!important;
    padding: 5px 12px!important;
    width: 100%;
    height: 33px;
    border: none;
}
.nav-search-btn{
    background-color: #fff;
    color: #333333;
    height: 40px;
    width: 50px;
}
.nav-btn-lang {
    border: 1px solid #333333;
    border-radius: 0px;
    background-color: transparent;
    transition: all 0.3s;
    height: 30px;
    font-size: 15px;
    padding-top: 4px;
}
.nav-btn-active{
    border-radius: 0px;
    background-color: #35379d;
    color: white;
    transition: all 0.3s;
}
.nav-overlay-image {
    position: relative;
    height: 21vmin;
    width: 100%;
    overflow: hidden;
}
.nav-overlay-image2{
    position: relative;
    height: 21vmin;
    width: 70%;
    overflow: hidden;
    margin-left: 110px;
}
.nav-image-full {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar {
    padding: 0rem 1rem;
}
.navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 300;
}
.dropdown {
    float: left;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 17px;
    font-weight: 300;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #f8e800;
    transition: all 0.2s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #35379d;
    min-width: 166px;
    z-index: 5;
}
.dropdown-content a {
    float: none;
    color: white;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.dropdown-content a:hover {
    background-color: #333333;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-m-l{
    margin-left: 48px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
/*----------- END NAVBAR 1 --------------*/




/*----------- FOOTER ----------------*/
.footer-bg{
    background-color: #35379d;
}
.footer-bg2{
    background-color: #f8e800;
    padding: 10px;
    -ms-transform: skewY(50deg); /* IE 9 */
    -webkit-transform: skewY(20deg); /* Safari 3-8 */
    transform: skew(50deg);
}
.footer-font{
    font-size: 13px;
    color: #333333;
    font-weight: 300;
    -ms-transform: skewY(-50deg); /* IE 9 */
    -webkit-transform: skewY(-50deg); /* Safari 3-8 */
    transform: skew(-50deg);
}
/*----------- END FOOTER --------------------*/



/*-----------------------------------
-------------- HOME -----------------
-------------------------------------*/
.home-font{
    font-size: 30px;
    color: #333333;
    font-style: italic;
    font-weight: 500;
}
.home-font2{
    font-size: 22px;
    color: #35379d;
    font-weight: 500;
    border-left: 7px solid #35379d;
    border-right: 7px solid #35379d;
}
.home-font3{
    font-size: 22px;
    color: #333333;
    font-style: italic;
    font-weight: 400;
    border-right: 7px solid #35379d;
    padding-left: 40px;
    padding-right: 40px;
}
.home-font3:hover{
    color: #999;
    text-decoration: none;
}
.home-font4{
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}
.home-font5{
    font-size: 22px;
    color: #333333;
    font-weight: 400;
    font-style: italic;
    border-left: 7px solid #35379d;
    border-right: 7px solid #35379d;
    padding-left: 40px;
    padding-right: 40px;
}
.home-font5:hover{
    color: #999;
    text-decoration: none;
}


/* courasel */
.owl-carousel .owl-nav button.owl-next{
    color: #333333;
    border: none;
    font-size: 60px;
    transition: all 0.3s;
    position: absolute;
    top: 28%;
    right: -3%;
}
.owl-carousel .owl-nav button.owl-prev{
    color: #333333;
    border: none;
    font-size: 60px;
    transition: all 0.3s;
    position: absolute;
    top: 28%;
    left: -3%;
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
    color: #999;
    border: none;
    font-size: 60px;
    background-color: unset;
    transition: all 0.3s;
}
.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus{
    outline: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: unset;
}
.owl-theme .owl-dots .owl-dot span {
    background: unset;
}
/* end courasel */

/* image */
.home-overlay-image{
    position: relative;
    height: 29vmin;
    width: 55%;
    overflow: hidden;
    left: 22%;
}
.home-overlay-image3{
    position: relative;
    height: 25vmin;
    width: 85%;
    overflow: hidden;
    left:13px;
}
.home-image-full {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-banner1{
    background-image: url(../../assets/images/banner/banner-1.jpg);
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    background-color: #3d3ea78f;
    background-blend-mode: multiply;
}
.home-banner2{
    background-image: url(../../assets/images/banner/banner-2.jpg);
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    background-color: #3d3ea78f;
    background-blend-mode: multiply;
}
.home-banner3{
    background-image: url(../../assets/images/banner/banner-3.jpg);
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    background-color: #3d3ea78f;
    background-blend-mode: multiply;
}
/* end image */

/* overlay */
.home-block {
    position: relative;
}
.image-btn{
    opacity: 1;
    display: block;
    transition: all 0.7s;
    backface-visibility: hidden;
}
.middle {
    transition: all 0.7s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.home-block:hover .image-btn {
    transition: all 0.7s;
    opacity: 0.3;
}
.home-block:hover .middle {
    transition: all 0.7s;
    opacity: 1;
}
.home-text {
    background-color: #f8e800;
    color: black;
    font-size: 16px;
    width: 150px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}
/* end overlay */

/* overlay2 */
.home-block2{
    position: relative;
    transition: all 0.7s;
}
.image-btn2{
    opacity: 1;
    display: block;
    backface-visibility: hidden;
}
.middle2 {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.home-block2:hover .image-btn2 {
    cursor: pointer;
    filter: blur(0px);
    background-color: unset;
    background-blend-mode: none;
    transition: all 0.7s;
}
.home-text2 {
    padding: 10px;
    width: 150px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: -70px;
    top: -20px;
    border-radius: 0px;
    cursor: pointer;
    border: 4px solid #ffd700;
    color: white;
    background-color: unset;
    padding-top: 7px;
}
.home-block2:hover .home-text2{
    background-color: #ffd700;
    color: black;
}
/* end overlay2 */
/*-------------------------------------
------------- END HOME ----------------
---------------------------------------*/



/*-------------------------------------
------------- CONDITION ----------------
---------------------------------------*/
.con-font{
    font-size: 18px;
    font-weight: 500;
}
.con-font2{
    font-size: 16px;
    font-weight: 400;
}
.con-font3{
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;
}
.con-bg {
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #333333;
    background: #f5e100;
}
.con-bg:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f5e100;
    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(30deg, 0deg);
}
.con-overlay-image {
    position: relative;
    height: 5vmin;
    width: 41%;
    overflow: hidden;
}
.con-image-full {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con-block{
    border: 2px solid #35379d;
    padding: 20px;
    border-radius: 0px;
}
/*-------------------------------------
----------- END CONDITION ----------------
---------------------------------------*/



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  /*----------- NAVBAR 1 575.98 --------------*/
  .navbar-nav {
      padding: 20px;
  }
  .nav-p-t {
      padding-top: 10px;
  }
  .dropdown-menu {
       background-color: unset;
       background-clip: padding-box;
       border: none;
       border-radius: none;
  }
  .dropdown-item{
      font-size: 15px;
      color: #333333;
  }
  .navbar a {
      float: left;
      text-align: center;
      font-size: 15px;
      color: #333333;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 300;
  }
  .hamburger-btn{
      color: #35379d;
      border: 1px solid #35379d;
      width: 45px;
      height: 45px;
      border-radius: 5px;
  }
  .nav-overlay-image {
      position: relative;
      height: 10vmin;
      width: 80px;
      height: 50px;
      overflow: hidden;
      margin-left: -20px;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
      color: #333333;
      transition: all 0.2s;
  }
  .nav-btn-lang {
      border: 1px solid #333333;
      border-radius: 0px;
      background-color: transparent;
      transition: all 0.3s;
      height: 30px;
      font-size: 12px;
      padding-top: 4px;
  }
  .nav-btn-active {
      border-radius: 0px;
      background-color: #35379d !important;
      color: white;
      transition: all 0.3s;
  }
  /*----------- END NAVBAR 575.98 --------------*/


  /*----------- FOOTER 575.98 --------------------*/
  .footer-bg2{
      background-color: #f8e800;
      padding: 10px;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;;
  }
  .footer-font{
      font-size: 8px;
      color: #333333;
      font-weight: 300;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
      text-align: center;
  }
  /*----------- END FOOTER 575.98 -----------------*/

  /*-------------------------------------
  ------------- HOME 575.98 ----------------
  ---------------------------------------*/
  .home-font {
      font-size: 13px;
      color: #333333;
      font-style: italic;
      font-weight: 500;
  }
  .home-font2 {
      font-size: 12px;
      color: #35379d;
      font-weight: 500;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-font3 {
      font-size: 13px;
      color: #333333;
      font-style: italic;
      font-weight: 400;
      border-right: 7px solid #35379d;
      padding-left: 10px;
      padding-right: 10px;
  }
  .home-font5 {
      font-size: 13px;
      color: #333333;
      font-weight: 400;
      font-style: italic;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
      padding-left: 10px;
      padding-right: 10px;
  }
  .home-overlay-image {
      position: relative;
      height: 90vmin;
      /* width: 84%; */
      overflow: hidden;
      /* left: 18%; */
  }
  .home-overlay-image3 {
      position: relative;
      height: 75vmin;
      /* width: 85%; */
      overflow: hidden;
      /* left: 13px; */
  }
  .owl-carousel .owl-nav button.owl-prev {
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      left: -5%;
  }
  .owl-carousel .owl-nav button.owl-next {
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      right: -5%;
  }
  .home-banner1 {
      background-image: url(../../assets/images/banner/banner-1.jpg);
      width: 100%;
      /* height: 340px; */
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner2 {
      background-image: url(../../assets/images/banner/banner-2.jpg);
      width: 100%;
      /* height: 340px; */
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner3 {
      background-image: url(../../assets/images/banner/banner-3.jpg);
      width: 100%;
      /* height: 340px; */
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-text2 {
      padding: 10px;
      width: 150px;
      height: 45px;
      font-weight: 400;
      font-size: 15px;
      position: absolute;
      left: -70px;
      top: -20px;
      border-radius: 0px;
      cursor: pointer;
      border: 4px solid #ffd700;
      color: white;
      background-color: unset;
      padding-top: 7px;
  }
  /*-------------------------------------
  ---------- END HOME 575.98 ------------
  ---------------------------------------*/

  /*-------------------------------------
  ---------- CONDITION 575.98 ------------
  ---------------------------------------*/
  .con-font {
      font-size: 15px;
      font-weight: 500;
  }
  .con-font2 {
      font-size: 13px;
      font-weight: 400;
  }
  .con-font3 {
      font-size: 12px;
      font-weight: 300;
      padding-top: 5px;
  }
  .con-bg {
      padding: 10px 20px 10px 10px;
      font-size: 20px;
      position: relative;
      width: 90%;
      color: #333333;
      background: #f5e100;
  }
  .con-overlay-image {
      position: relative;
      height: 12vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-------------------------------------
  -------- END CONDITION 575.98 ------------
  ---------------------------------------*/
}

@media (max-width: 568px) and (max-height: 320px){

  /*-------------------------------------
  ------- HOME iphone 5 landscape -------
  ---------------------------------------*/
  .home-overlay-image {
      position: relative;
      height: 75vmin;
      width: 25%;
      overflow: hidden;
      left: 38%;
  }
  .owl-carousel .owl-nav button.owl-prev {
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      left: 10%;
  }
 .owl-carousel .owl-nav button.owl-next {
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      right: 10%;
  }
 .home-overlay-image3 {
      position: relative;
      height: 70vmin;
      width: 40%;
      overflow: hidden;
      left: 28%;
  }
  .home-banner1 {
      background-image: url(../../assets/images/banner/banner-1.jpg);
      width: 100%;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner2 {
      background-image: url(../../assets/images/banner/banner-2.jpg);
      width: 100%;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner3 {
      background-image: url(../../assets/images/banner/banner-3.jpg);
      width: 100%;
      height: 350px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
/*-------------------------------------
------ END HOME iphone 5 landscape -------
---------------------------------------*/

  /*-------------------------------------
  ------ CONDITION iphone 5 landscape --------
  ---------------------------------------*/
  .con-overlay-image {
      position: relative;
      height: 24vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-------------------------------------
  ---- END CONDITION iphone 5 landscape ------
  ---------------------------------------*/
}

/*=Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  /*----------- NAVBAR 576 --------------*/
  .navbar-nav {
      padding: 20px;
  }
  .nav-p-t {
      padding-top: 10px;
  }
  .dropdown-menu {
       background-color: unset;
       background-clip: padding-box;
       border: none;
       border-radius: none;
  }
  .dropdown-item{
      font-size: 15px;
      color: #333333;
  }
  .navbar a {
      float: left;
      text-align: center;
      font-size: 15px;
      color: #333333;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 300;
  }
  .hamburger-btn{
      color: #35379d;
      border: 1px solid #35379d;
      width: 45px;
      height: 45px;
      border-radius: 5px;
  }
  .nav-overlay-image {
      position: relative;
      height: 10vmin;
      width: 80px;
      height: 50px;
      overflow: hidden;
      margin-left: -20px;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
      color: #333333;
      transition: all 0.2s;
  }
  .nav-btn-lang {
      border: 1px solid #333333;
      border-radius: 0px;
      background-color: transparent;
      transition: all 0.3s;
      height: 30px;
      font-size: 12px;
      padding-top: 4px;
  }
  .nav-btn-active {
      border-radius: 0px;
      background-color: #35379d !important;
      color: white;
      transition: all 0.3s;
  }
  /*----------- END NAVBAR 576 ------------*/

  /*----------- FOOTER 576 --------------------*/
  .footer-bg2{
      background-color: #f8e800;
      padding: 10px;
      -ms-transform: skewY(50deg); /* IE 9 */
      -webkit-transform: skewY(20deg); /* Safari 3-8 */
      transform: skew(50deg);
  }
  .footer-font{
      font-size: 9px;
      color: #333333;
      font-weight: 300;
      -ms-transform: skewY(-50deg); /* IE 9 */
      -webkit-transform: skewY(-50deg); /* Safari 3-8 */
      transform: skew(-50deg);
  }
  /*----------- END FOOTER 576 --------------------*/

  /*-------------------------------------
  -------------- HOME 576 ---------------
  ---------------------------------------*/
  .home-font {
      font-size: 22px;
      color: #333333;
      font-style: italic;
      font-weight: 500;
  }
  .home-font2 {
      font-size: 16px;
      color: #35379d;
      font-weight: 500;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-font3 {
      font-size: 15px;
      color: #333333;
      font-style: italic;
      font-weight: 400;
      border-right: 7px solid #35379d;
      padding-left: 40px;
      padding-right: 40px;
  }
  .home-font4 {
      font-size: 9px;
      color: #333333;
      font-weight: 400;
      text-align: center;
  }
  .home-font5 {
      font-size: 15px;
      color: #333333;
      font-weight: 400;
      font-style: italic;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
      padding-left: 40px;
      padding-right: 40px;
  }
  .owl-carousel .owl-nav button.owl-next {
      color: #333333;
      border: none;
      font-size: 40px;
      transition: all 0.3s;
      position: absolute;
      top: 19%;
      right: -5%;
  }
  .owl-carousel .owl-nav button.owl-prev {
      color: #333333;
      border: none;
      font-size: 40px;
      transition: all 0.3s;
      position: absolute;
      top: 19%;
      left: -5%;
  }
  .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
      color: #999;
      border: none;
      font-size: 40px;
      background-color: unset;
      transition: all 0.3s;
  }
  .home-banner1 {
      background-image: url(../../assets/images/banner/banner-1.jpg);
      width: 100%;
      height: 430px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner2 {
      background-image: url(../../assets/images/banner/banner-2.jpg);
      width: 100%;
      height: 430px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner3 {
      background-image: url(../../assets/images/banner/banner-3.jpg);
      width: 100%;
      height: 430px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-overlay-image {
      position: relative;
      height: 35vmin;
      width: 55%;
      overflow: hidden;
      left: 22%;
  }
  .home-overlay-image3 {
      position: relative;
      height: 34vmin;
      width: 85%;
      overflow: hidden;
      left: 13px;
  }
  /*-------------------------------------
  ----------- END HOME 576 ---------------
  ---------------------------------------*/


  /*-------------------------------------
  -------- CONDITION 576 ------------
  ---------------------------------------*/
  .con-overlay-image {
      position: relative;
      height: 23vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-------------------------------------
  -------- END CONDITION 576 ------------
  ---------------------------------------*/
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  /*----------- NAVBAR 768 --------------*/
  .navbar-nav {
      padding: 20px;
  }
  .nav-p-t {
      padding-top: 10px;
  }
  .dropdown-menu {
       background-color: unset;
       background-clip: padding-box;
       border: none;
       border-radius: none;
  }
  .dropdown-item{
      font-size: 15px;
      color: #333333;
  }
  .navbar a {
      float: left;
      text-align: center;
      font-size: 15px;
      color: #333333;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 300;
  }
  .hamburger-btn{
      color: #35379d;
      border: 1px solid #35379d;
      width: 45px;
      height: 45px;
  }
  .nav-overlay-image {
      position: relative;
      height: 10vmin;
      width: 80px;
      height: 50px;
      margin-left: -15px;
      overflow: hidden;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
      color: #333333;
      transition: all 0.2s;
  }
  /*----------- END NAVBAR 768 ------------*/

  /*----------- FOOTER 768 --------------------*/
  .footer-bg2{
      background-color: #f8e800;
      padding: 10px;
      -ms-transform: skewY(30deg); /* IE 9 */
      -webkit-transform: skewY(20deg); /* Safari 3-8 */
      transform: skew(30deg);
  }
  .footer-font{
      font-size: 13px;
      color: #333333;
      font-weight: 300;
      -ms-transform: skewY(-30deg); /* IE 9 */
      -webkit-transform: skewY(-30deg); /* Safari 3-8 */
      transform: skew(-30deg);
  }
  /*----------- END FOOTER 768 -----------------*/

  /*-------------------------------------
  ------------- HOME 768 ----------------
  ---------------------------------------*/
  .home-font {
      font-size: 25px;
      color: #333333;
      font-style: italic;
      font-weight: 500;
  }
  .home-font2 {
      font-size: 18px;
      color: #35379d;
      font-weight: 500;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-font3 {
      font-size: 18px;
      color: #333333;
      font-style: italic;
      font-weight: 400;
      border-right: 7px solid #35379d;
  }
  .home-font4 {
      font-size: 12px;
      color: #333333;
      font-weight: 400;
      text-align: center;
  }
  .home-font5 {
      font-size: 18px;
      color: #333333;
      font-weight: 400;
      font-style: italic;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-overlay-image {
      position: relative;
      height: 19vmin;
      width: 30%;
      overflow: hidden;
      left: 35%;
  }
  .home-overlay-image3 {
      position: relative;
      height: 20vmin;
      width: 60%;
      overflow: hidden;
      left: 27px;
  }
  .home-text {
      background-color: #f8e800;
      color: black;
      font-size: 14px;
      width: 130px;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;
  }
  .home-banner1 {
      background-image: url(../../assets/images/banner/banner-1.jpg);
      width: 100%;
      height: 240px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner2 {
      background-image: url(../../assets/images/banner/banner-2.jpg);
      width: 100%;
      height: 240px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner3 {
      background-image: url(../../assets/images/banner/banner-3.jpg);
      width: 100%;
      height: 240px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .owl-carousel .owl-nav button.owl-prev {
      color: #333333;
      border: none;
      font-size: 40px;
      transition: all 0.3s;
      position: absolute;
      top: 22%;
      left: -3%;
  }
  .owl-carousel .owl-nav button.owl-next {
      color: #333333;
      border: none;
      font-size: 40px;
      transition: all 0.3s;
      position: absolute;
      top: 22%;
      right: -3%;
  }
  .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
      color: #999;
      border: none;
      font-size: 40px;
      background-color: unset;
      transition: all 0.3s;
  }
  .home-text2 {
      padding: 10px;
      width: 150px;
      height: 45px;
      font-weight: 400;
      font-size: 15px;
      position: absolute;
      left: -70px;
      top: -20px;
      border-radius: 0px;
      cursor: pointer;
      border: 4px solid #ffd700;
      color: white;
      background-color: unset;
      padding-top: 7px;
  }
  /*-------------------------------------
  ----------- END HOME 768 --------------
  ---------------------------------------*/

  /*-------------------------------------
  ----------- CONDITION 768 --------------
  ---------------------------------------*/
  .con-overlay-image {
      position: relative;
      height: 6vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-------------------------------------
  --------- END CONDITION 768 -----------
  ---------------------------------------*/
}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  /*----------- NAVBAR 992 --------------*/
  .nav-font{
      font-size: 22px;
      color: #fd0400;
      font-weight: 500;
  }
  .nav-font2{
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      padding-top: 1px;
  }
  .nav-bg{
      background-color: #f8e800;
  }
  .nav-bg2{
      background-color: #ecd600;
      padding: 10px;
  }
  .nav-bg3{
      background-color: #35379d;
  }
  .nav-p-t{
      padding-top: 70px;
  }
  .nav-icon{
      width: 25px;
      height: 25px;
      padding: 6px;
      background-color: #35379d;
      color: white;
      border-radius: 100px;
      margin-right: 5px;
      font-size: 14px;
  }
  .nav-search-form {
      border-radius: 0px;
      background: #fff url(../../assets/images/logo/search.png) no-repeat right 15px center;
      background-size: 20px;
      -webkit-appearance: none!important;
      padding: 5px 12px!important;
      width: 100%;
      height: 33px;
      border: none;
  }
  .nav-search-btn{
      background-color: #fff;
      color: #333333;
      height: 40px;
      width: 50px;
  }
  .nav-btn-lang {
      border: 1px solid #333333;
      border-radius: 0px;
      background-color: transparent;
      transition: all 0.3s;
      height: 30px;
      font-size: 15px;
      padding-top: 4px;
  }
  .nav-btn-active{
      border-radius: 0px;
      background-color: #35379d;
      color: white;
      transition: all 0.3s;
  }
  .nav-overlay-image {
      position: relative;
      height: 21vmin;
      width: 100%;
      overflow: hidden;
  }
  .nav-overlay-image2{
      position: relative;
      height: 21vmin;
      width: 70%;
      overflow: hidden;
      margin-left: 85px;
  }
  .nav-image-full {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .navbar {
      padding: 0rem 1rem;
  }
  .navbar a {
      float: left;
      font-size: 17px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 300;
  }
  .dropdown {
      float: left;
  }
  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      font-size: 17px;
      font-weight: 300;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
      color: #f8e800;
      transition: all 0.2s;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #35379d;
      min-width: 166px;
      z-index: 1;
  }
  .dropdown-content a {
      float: none;
      color: white;
      font-weight: 300;
      font-size: 14px;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-bottom: 1px solid #fff;
  }
  .dropdown-content a:hover {
      background-color: #333333;
      color: white;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .nav-m-l{
      margin-left: 18px;
  }
  /*----------- END NAVBAR 992 ------------*/

  /*----------- FOOTER 992 --------------------*/
  /*----------- END FOOTER 992 -----------------*/

  /*-----------------------------------
  -------------- HOME 992 -------------
  -------------------------------------*/
  .home-overlay-image {
      position: relative;
      height: 12vmin;
      width: 35%;
      overflow: hidden;
      left: 33%;
  }
  .home-overlay-image3 {
      position: relative;
      height: 14vmin;
      width: 60%;
      overflow: hidden;
      left: 27px;
  }
  /*-----------------------------------
  ------------ END HOME 992 -----------
  -------------------------------------*/

  /*-----------------------------------
  ------------ CONDITION 992 -----------
  -------------------------------------*/
  .con-overlay-image {
      position: relative;
      height: 4vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-----------------------------------
  ---------- END CONDITION 992 -----------
  -------------------------------------*/
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  /*----------- NAVBAR 1200 -----------------*/
  .nav-m-l {
      margin-left: 48px;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #35379d;
      min-width: 166px;
      z-index: 5;
  }
  /*----------- END NAVBAR 1200 --------------*/

  /*----------- FOOTER 1200 --------------------*/
  .footer-bg2{
      background-color: #f8e800;
      padding: 10px;
      -ms-transform: skewY(50deg); /* IE 9 */
      -webkit-transform: skewY(20deg); /* Safari 3-8 */
      transform: skew(50deg);
  }
  .footer-font{
      font-size: 13px;
      color: #333333;
      font-weight: 300;
      -ms-transform: skewY(-50deg); /* IE 9 */
      -webkit-transform: skewY(-50deg); /* Safari 3-8 */
      transform: skew(-50deg);
  }
  /*----------- END FOOTER 1200 -----------------*/

  /*-----------------------------------
  -------------- HOME 1200 -------------
  -------------------------------------*/
  .home-font{
      font-size: 30px;
      color: #333333;
      font-style: italic;
      font-weight: 500;
  }
  .home-font2{
      font-size: 22px;
      color: #35379d;
      font-weight: 500;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-font3{
      font-size: 22px;
      color: #333333;
      font-style: italic;
      font-weight: 400;
      border-right: 7px solid #35379d;
  }
  .home-font3:hover{
      color: #999;
      text-decoration: none;
  }
  .home-font4{
      font-size: 15px;
      color: #333333;
      font-weight: 400;
      text-align: center;
  }
  .home-font5{
      font-size: 22px;
      color: #333333;
      font-weight: 400;
      font-style: italic;
      border-left: 7px solid #35379d;
      border-right: 7px solid #35379d;
  }
  .home-font5:hover{
      color: #999;
      text-decoration: none;
  }


  /* courasel */
  .owl-carousel .owl-nav button.owl-next{
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      right: -3%;
  }
  .owl-carousel .owl-nav button.owl-prev{
      color: #333333;
      border: none;
      font-size: 60px;
      transition: all 0.3s;
      position: absolute;
      top: 28%;
      left: -3%;
  }
  .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
      color: #999;
      border: none;
      font-size: 60px;
      background-color: unset;
      transition: all 0.3s;
  }
  .owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus{
      outline: none;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: unset;
  }
  .owl-theme .owl-dots .owl-dot span {
      background: unset;
  }
  /* end courasel */

  /* image */
  .home-overlay-image{
      position: relative;
      height: 29vmin;
      width: 55%;
      overflow: hidden;
      left: 22%;
  }
  .home-overlay-image3{
      position: relative;
      height: 25vmin;
      width: 85%;
      overflow: hidden;
      left:13px;
  }
  .home-image-full {
      position: absolute;
      display: block;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .home-banner1{
      background-image: url(../../assets/images/banner/banner-1.jpg);
      width: 100%;
      height: 290px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner2{
      background-image: url(../../assets/images/banner/banner-2.jpg);
      width: 100%;
      height: 290px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  .home-banner3{
      background-image: url(../../assets/images/banner/banner-3.jpg);
      width: 100%;
      height: 290px;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      background-color: #3d3ea78f;
      background-blend-mode: multiply;
  }
  /* end image */

  /* overlay */
  .home-block {
      position: relative;
  }
  .image-btn{
      opacity: 1;
      display: block;
      transition: all 0.7s;
      backface-visibility: hidden;
  }
  .middle {
      transition: all 0.7s;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .home-block:hover .image-btn {
      transition: all 0.7s;
      opacity: 0.3;
  }
  .home-block:hover .middle {
      transition: all 0.7s;
      opacity: 1;
  }
  .home-text {
      background-color: #f8e800;
      color: black;
      font-size: 16px;
      width: 150px;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;
  }
  /* end overlay */

  /* overlay2 */
  .home-block2{
      position: relative;
      transition: all 0.7s;
  }
  .image-btn2{
      opacity: 1;
      display: block;
      backface-visibility: hidden;
  }
  .middle2 {
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  .home-block2:hover .image-btn2 {
      cursor: pointer;
      filter: blur(0px);
      background-color: unset;
      background-blend-mode: none;
      transition: all 0.7s;
  }
  .home-text2 {
      padding: 10px;
      width: 150px;
      height: 50px;
      font-weight: 400;
      font-size: 18px;
      position: absolute;
      left: -70px;
      top: -20px;
      border-radius: 0px;
      cursor: pointer;
      border: 4px solid #ffd700;
      color: white;
      background-color: unset;
      padding-top: 7px;
  }
  .home-block2:hover .home-text2{
      background-color: #ffd700;
      color: black;
  }
  /* end overlay2 */
  /*-------------------------------------
  ----------- END HOME 1200 -------------
  ---------------------------------------*/

  /*-----------------------------------
  ------------ CONDITION 1200 -----------
  -------------------------------------*/
  .con-overlay-image {
      position: relative;
      height: 5vmin;
      width: 41%;
      overflow: hidden;
  }
  /*-----------------------------------
  ---------- END CONDITION 1200 -----------
  -------------------------------------*/
}

@media (min-width: 1600px) {

  /*----------- NAVBAR 1600 -----------------*/
  /*----------- END NAVBAR 1600 --------------*/

  /*----------- FOOTER --------------------*/
  /*----------- END FOOTER --------------*/
}
