/*-------all-------------*/
.text-Yellow{
  color: #f8e803;
}
/*-------all end-------------*/

/*-------brand-----------*/
.text-head-brand{
  font-size: 28px;
  background-color: #35379d;
  color: #f8e803;
  font-style: italic;
  padding: 0px 30px 0px 30px;
}
.brand-fix-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20vmin;
}
.brand-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;

}
/*-------brand end---------*/

/*--------contact----------*/

.contact-fix-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vmin;
}
.contact-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.contact-text-map{
  font-size: 20px;
  color: #054d84;
  font-weight: 500;

}

/*--------contact end----------*/

/*---------product-------*/

.pro_nav_tap{
  background-color: #35379d;
  color: #f8e803;
  border: 1px solid;
  border-color: #1e2771;
}
.pro_nav_tap:hover{
  background-color: #35379d;
  color: #f8e803;
  border: 1px solid;
  border-color: #1e2771;
}
.nav-pills .nav-link {
    border-radius: 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #020202;
    background-color: #f8e803;
    border: 0px solid;
}
.pro_text{
  font-size: x-large;
  color: #35379d;
}
.pro_text-1{
  font-size: smaller;
}
.pro-fix-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 25vmin;
}
.pro-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.pro-m-1{
  margin-left: 50px;
}
.pro-m-2{
  margin-left: 49px;
}
.pro-m-3{
  margin-left: 111px;
}
.pro-m-4{
  margin-left: 70px;
}
.pro-m-5{
  margin-left: 62px;
}
.pro-bg-1{
  background-color: #9e9e9e4a;
  margin: 0px 10px 0px 0px;
  padding: 5px 0px 0px 0px;
}
.pro-bg-0{
  margin: 0px 10px 0px 0px;
  padding: 5px 0px 0px 0px;
}
.pro-btn{
    color: #000;
    background-color: #f8e803;
    border-color: #f8e803;
    border-radius: 0px;
    font-size: small;
    padding: 14px 20px 10px 20px;
  }
  .pro-btn-1{
    color: #fff;
    background-color: #0f3c71;
    border-color: #103d72;
    border-radius: 0px;
    font-size: small;
    padding: 5px 20px 0px 20px;
}

.pro-sale-pomo {
  background-color: red;
  color: #fff;
  position: absolute;
  width: 50%;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  left: 20rem;
  top: -3rem;
  text-align: center;
}
.pro-hidden {
  overflow: hidden;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 0px solid #ffffff;
    margin: 2px;
    height: 34px;
    width: 35px;
}
.page-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #36399d;
    border-color: #ffffff;
    border-radius: 33px;
    margin: 2px;
    height: 34px;
    width: 35px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    text-decoration: none;
    background-color: #36399d;
    border-color: #ffffff;
    border-radius: 33px;
    margin: 2px;
    height: 34px;
    width: 35px;
}

/*---------product end------*/

/*---------product_detail--------*/
.text-detail{
  font-size: 24px;
  color: #0f3c70;
  font-weight: 500;
}
.detail-fix-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30vmin;
}
.detail-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}




/*---------product-detail end------*/






/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vmin;
}

.text-head-brand{
  font-size: 13px;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vmin;
}
.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 136%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 11rem;
    top: -11rem;
    text-align: center;
}
.pro-bg-1 {
    background-color: #9e9e9e4a;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
}
.pro-btn {
    color: #000;
    background-color: #f8e803;
    border-color: #f8e803;
    border-radius: 0px;
    font-size: small;
    width: 100%;
    padding: 16px;
}
.pro-btn-1 {
    color: #fff;
    background-color: #0f3c71;
    border-color: #103d72;
    border-radius: 0px;
    font-size: small;
    width: 100%;
    padding: 6px;
}
.pro-btn-2{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}
.pro-btn-2:hover{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}



}




@media (min-width: 248px) {
  .pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 80%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 9rem;
    top: -2rem;
    text-align: center;
}


@media (min-width: 290px) {
  .pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 106%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 9rem;
    top: -5rem;
    text-align: center;
}
}

@media (min-width: 444px) {
  .pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 136%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 11rem;
    top: -11rem;
    text-align: center;
}

}



}


@media (min-width: 554px)  {
  .pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 61%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 23rem;
    top: -4rem;
    text-align: center;
}

}

@media (min-width: 556px)  {
  .pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 61%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 23rem;
    top: -4rem;
    text-align: center;
}

}

/*แนวนแน ไอ5*/
@media (min-width: 568px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 110vmin;
}
.text-head-brand{
  font-size: 15px;
}
.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35vmin;
}
.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 20rem;
    top: -10rem;
    text-align: center;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 135vmin;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 117vmin;
}

}





/*=Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vmin;
}
.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}

.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vmin;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}
.pro-btn-1 {
    color: #fff;
    background-color: #0f3c71;
    border-color: #103d72;
    border-radius: 0px;
    font-size: small;
    /* padding: 5px 20px 0px 20px; */
    width: 100%;
    padding: 5px;
}
.pro-btn {
    color: #000;
    background-color: #f8e803;
    border-color: #f8e803;
    border-radius: 0px;
    font-size: small;
    /* padding: 14px 20px 10px 20px; */
    width: 100%;
    padding: 15px;
}
.pro-btn-2{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}
.pro-btn-2:hover{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}


}

/*ไอโพน6 แนวนอน*/
@media (min-width: 667px)  {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vmin;
}
.brand-fix-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30vmin;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 110vmin;
}


}

@media (min-width: 668px) {
  .pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 65vmin;
}

}


@media (min-width: 680px) {
  .brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}
.contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vmin;
}

}


/*ไอโพน6 แนวนอน plus*/
@media (min-width: 736px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vmin;
}
.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 25vmin;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vmin;
}

}

@media (min-width:744px) {
  .pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40vmin;


}




@media (min-width: 760px) {
  .brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}


}





/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vmin;
}
.text-head-brand{
  font-size: 25px;
}
.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vmin;
}
.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 69%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 14rem;
    top: -3rem;
    text-align: center;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}



}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
}

.text-head-brand{
  font-size: 25px;
}

.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10vmin;
}
.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 46%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 17rem;
    top: -2rem;
    text-align: center;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vmin;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vmin;
}
.pro-btn {
    color: #000;
    background-color: #f8e803;
    border-color: #f8e803;
    border-radius: 0px;
    font-size: small;
    padding: 19px 5px 11px 5px;
}
.pro-btn-1 {
    color: #fff;
    background-color: #0f3c71;
    border-color: #103d72;
    border-radius: 0px;
    font-size: small;
    padding: 10px 5px 0px 5px;

}



}




/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vmin;
}

.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10vmin;
}
.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 77%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 17rem;
    top: -5rem;
    text-align: center;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}
.detail-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 25vmin;
}


}

@media (min-width: 1600px) {
  .contact-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vmin;
}
.brand-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 10vmin;
}

.pro-sale-pomo {
    background-color: red;
    color: #fff;
    position: absolute;
    width: 50%;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    left: 20rem;
    top: -3rem;
    text-align: center;
}
.pro-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vmin;
}
.pro-btn{
    color: #000;
    background-color: #f8e803;
    border-color: #f8e803;
    border-radius: 0px;
    font-size: small;
    padding: 14px 20px 10px 20px;
  }

  .pro-btn:hover{
      color: #000;
      background-color: #f8e803;
      border-color: #f8e803;
      border-radius: 0px;
      font-size: small;
      padding: 14px 20px 10px 20px;
    }

  .pro-btn-1{
    color: #fff;
    background-color: #0f3c71;
    border-color: #103d72;
    border-radius: 0px;
    font-size: small;
    padding: 5px 20px 0px 20px;
}
.pro-btn-1:hover{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}

.pro-btn-2{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}
.pro-btn-2:hover{
  color: #fff;
  background-color: #0f3c71;
  border-color: #103d72;
  border-radius: 0px;
  font-size: small;
  padding: 5px 20px 0px 20px;
}





}
